[Unit]
Description=Display
After=systemd-user-sessions.service
After=multi-user.target

[Service]
User=mythtv
Group=mythtv
WorkingDirectory=~

PAMName=login
Environment=XDG_SESSION_TYPE=wayland
TTYPath=/dev/tty2
StandardInput=tty
UnsetEnvironment=TERM

UtmpIdentifier=tty2
UtmpMode=user

StandardOutput=journal
ExecStartPre=/usr/bin/chvt 2
ExecStart=/usr/bin/sway
Restart=always
RestartSec=3s

[Install]
WantedBy=graphical.target
